#header {
  background: var(--app-background);
  border: none;
  height: var(--app-header-height);
  .logo {
    height: 3rem;
    width: 3rem;
    &:hover {
      border: 0.125rem solid var(--text-highlight);
      transition: border ease-in-out 0.3s;
    }
  }
  &.hidden {
    transform: translateY(calc(var(--app-header-height) * -1));
    transition: transform ease-in-out 0.4s;
  }
}

.nav-drawer {
  transition: none;
  .offcanvas-body {
    justify-content: flex-end;
  }
  .nav-list {
    gap: 0.75rem;
    & > .nav-item {
      &.active {
        background-color: transparent;
        border: none;
        border-radius: 0.0625rem;
        .nav-link {
          font-weight: bold;
          color: var(--text-highlight);
        }
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

[role="dialog"].nav-drawer {
  --bs-offcanvas-width: fit-content;
  --bs-offcanvas-transition: none;
  --bs-offcanvas-border-width: 0;

  min-width: fit-content;
  height: fit-content;

  &.offcanvas {
    background: var(--bs-offcanvas-bg);
    width: 50%;
    opacity: 0.75;
    border-radius: 0.25rem;
    &.show:not(.hiding) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .offcanvas-body {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .nav-list {
    & > .nav-item {
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
