#socials {
  &.socials-nav {
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;
    .nav-link {
      &:hover {
        --bs-nav-link-hover-color: var(--text-highlight);
        transform: translateY(-0.15rem);
      }
    }
    &::after {
      content: "";
      display: block;
      width: 0.0625rem;
      height: 8rem;
      margin: 0 auto;
      background-color: var(--text-primary);
    }
  }
  @media ((max-width: 768px)) {
    width: 100%;
    height: var(--socials-nav-height);
    bottom: 0;
    box-shadow: 0px -0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    &.socials-nav {
      flex-direction: row;
      &::after {
        width: unset;
        height: 0.0625rem;
        flex: 1;
        margin: auto 0;
      }
      &::before {
        content: "";
        display: block;
        width: unset;
        height: 0.0625rem;
        margin: auto 0;
        flex: 1;
        background-color: var(--text-primary);
      }
    }
  }
  &.email-nav {
    a {
      writing-mode: vertical-rl;
    }
  }
}
