ul.arrow-list {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  li {
    list-style: none;
    &:not(:last-child) {
      padding-bottom: 0.75rem;
    }
    &::before {
      content: "\00BB";
      color: var(--text-highlight);
      padding-right: 0.5rem;
    }
  }
}

.nav-drawer {
  transition: none;
  .offcanvas-body {
    justify-content: flex-end;
  }
  .nav-list {
    gap: 0.5rem;
    & > .nav-item {
      &.active {
        background-color: var(--text-highlight-tint);
        border: 0.0625rem dashed var(--text-highlight-tint);
        font-weight: bold;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

[role="dialog"].nav-drawer {
  --bs-offcanvas-width: fit-content;
  --bs-offcanvas-transition: none;
  --bs-offcanvas-border-width: 0;

  min-width: fit-content;
  height: fit-content;

  &.offcanvas {
    background: var(--bs-offcanvas-bg);
    width: 50%;
    opacity: 0.75;
    border-radius: 0.25rem;
    &.show:not(.hiding) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .offcanvas-body {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .nav-list {
    & > .nav-item {
      &.active {
        background-color: transparent;
        border: none;
        border-radius: 0.0625rem;
        padding-right: 0.5rem;
        .nav-link {
          font-weight: bold;
          color: var(--text-highlight);
        }
      }
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}

#header {
  border-bottom: 0.0625rem solid var(--text-highlight-tint);
}

#home {
  .container {
    align-items: center;
  }
  .image-wrapper {
    position: relative;
    animation: slideRightToLeft 1s ease-in forwards;
    img {
      width: 100%;
      margin: auto;
      border-radius: 50%;
      box-shadow: 0.5rem 0.5rem 1rem rgba(100, 255, 219, 0.078),
        -0.3rem -0.3rem 0.5rem rgba(100, 255, 219, 0.045);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      filter: grayscale(1) contrast(1);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0.25rem;
      left: 0.5rem;
      height: 100%;
      width: 100%;
      border: 0.0625rem solid var(--text-highlight);
      z-index: -1;
      border-radius: 50%;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover {
      img {
        filter: none;
        transform: translate(-0.25rem, -0.25rem);
      }
      &::after {
        transform: translate(0.25rem, 0.25rem);
      }
    }
  }
  h4 {
    color: var(--text-highlight);
    animation: slideDown 1s ease-in forwards;
    animation-delay: 0ms;
    font-family: var(--font-family-body);
  }
  h1 {
    color: var(--text-white);
    animation: slideUp 1s ease-in forwards;
    animation-delay: 0ms;
  }
  h3 {
    color: var(--text-primary);
    margin-bottom: 3vw;
    animation: slideUp 1s ease-in forwards;
    animation-delay: 0ms;
  }
  p {
    font-size: calc(1rem + 0.3vw);
    color: var(--text-highlight);
    animation: slideUp 1s ease-in forwards;
    animation-delay: 0ms;
  }

  @media (max-width: 992px) {
    .container {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
    .image-wrapper {
      position: relative;
      width: 40%;
      margin-block-end: 4rem;
      img {
        border-radius: var(--bs-border-radius);
      }
      &::after {
        top: 1rem;
        left: 1rem;
        border-radius: var(--bs-border-radius);
      }
    }
  }

  @media (max-width: 768px) {
    .image-wrapper {
      width: 50%;
    }
  }
}

#about {
  a {
    &.nav-link {
      --bs-nav-link-color: var(--text-highlight);
      &:hover {
        --bs-nav-link-hover-color: var(--text-highlight);
        text-decoration: underline;
      }
    }
  }
}

#skills {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .card {
    .card-title {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
  .group-container {
    &.row > * {
      --bs-gutter-y: 1rem;
    }
    .card {
      --bs-card-bg: var(--card-bg-hover-color);
      --bs-card-border-color: var(--text-highlight-tint);
      filter: drop-shadow(0 0.875rem 0.5rem rgba(0, 0, 0, 0.04))
        drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      height: 12rem;
      min-height: fit-content;
      .card-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
      }
      .card-title {
        color: var(--text-secondary);
        text-align: center;
      }
      svg {
        font-size: 4rem;
      }

      &:hover {
        --bs-card-border-width: 0.125rem;
        transform: scale(1.05);
        .card-title {
          color: var(--text-highlight);
        }
      }
    }
  }
  .skill-container {
    .card {
      color: var(--text-white);
      --bs-card-border-color: transparent;
      height: fit-content;
      .card-title {
        margin: 0;
        color: var(--text-highlight);
      }
      .progress-bar {
        --bs-progress-bar-bg: var(--text-primary);
        animation: pulse 2s infinite;
      }
      .progress-div {
        align-items: center;
        > :first-child {
          padding-block-end: 0.5rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
      &:hover {
        --bs-card-bg: var(--card-bg-hover-color);
        --bs-card-border-color: var(--text-highlight-tint);
        filter: drop-shadow(0 0.875rem 0.5rem rgba(0, 0, 0, 0.04))
          drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
        .card-header {
          display: block;
          letter-spacing: 0.15rem;
        }
        .progress-div {
          color: var(--text-tertiary);

          > :first-child {
            padding-block: 0.5rem;
          }
        }
        .progress-bar {
          --bs-progress-bar-bg: var(--text-highlight);
          transition: all 1s;
        }
      }
    }
  }
}

#experience {
  .container {
    ul {
      color: var(--text-tertiary);
      font-size: 0.875rem;
    }
    .card-link {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 0.25rem;
    }
    .card {
      flex-direction: row;
      color: var(--text-white);
      --bs-card-border-color: transparent;
      padding: 1rem;
      .card-title {
        font-weight: 300;
        font-size: 0.875rem;
        h6 {
          color: var(--text-primary);
        }
        span {
          font-size: 0.875rem;
          color: var(--text-secondary);
        }
      }
      .card-body {
        padding: 0;
      }
      &:hover {
        --bs-card-bg: var(--card-bg-hover-color);
        --bs-card-border-color: var(--text-highlight-tint);
        filter: drop-shadow(0 0.875rem 0.5rem rgba(0, 0, 0, 0.04))
          drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
        svg {
          scale: 1.25;
        }
      }
      .badge-list {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
      }
    }
  }
}

#socials {
  &.socials-nav {
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;
    .nav-link {
      &:hover {
        --bs-nav-link-hover-color: var(--text-highlight);
        transform: translateY(-0.15rem);
      }
    }
    &::after {
      content: "";
      display: block;
      width: 0.0625rem;
      height: 8rem;
      margin: 0 auto;
      background-color: var(--text-primary);
    }
  }
  @media ((max-width: 768px)) {
    &.socials-nav {
      flex-direction: row;
      &::after {
        width: unset;
        height: 0.0625rem;
        flex: 1;
        margin: auto 0;
      }
      &::before {
        content: "";
        display: block;
        width: unset;
        height: 0.0625rem;
        margin: auto 0;
        flex: 1;
        background-color: var(--text-primary);
      }
    }
  }
  &.email-nav {
    a {
      writing-mode: vertical-rl;
    }
  }
}

#contact {
  a {
    animation: shake 1s ease-in-out;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }
  @media (min-width: 768px) {
    padding-inline: 25%;
  }
}

#errorBoundary {
  align-items: center;
  text-align: center;
  button {
    animation: shake 1s ease-in-out;
    &:hover {
      transform: scale(1.25);
      transition: transform 0.5s;
    }
  }
}
