.view {
  & > section {
    flex-direction: row;
  }
}

main {
  overflow: auto;
  section {
    min-height: 100%;
    padding: 3rem 8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.app-body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#about_me,
#education,
#contact {
  max-width: 80%;
}

#home {
  padding: 10%;
}

.loader {
  background-color: var(--bg-primary);
}

.loader img {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.numbered-list {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
  &::before {
    color: var(--text-highlight);
    font-family: var(--font-family-spl-elite);
    font-size: 1.25rem;
    margin-right: 0.75rem;
  }
  &::after {
    content: "";
    display: block;
    flex-grow: 1;
    height: 0.0625rem;
    margin: auto 0;
    margin-left: 1.25rem;
    background-color: var(--bg-primary-lightest);
  }
}

#about .numbered-list::before {
  content: "01.";
}
#experience .numbered-list::before {
  content: "02.";
}
#education .numbered-list::before {
  content: "03.";
}
#skills .numbered-list::before {
  content: "04.";
}
#contact .numbered-list::before {
  content: "05.";
}

@media ((max-width: 768px)) {
  #home {
    padding: 10% 0;
  }
  #home,
  #about_me,
  #experience,
  #skills,
  #education,
  #contact {
    max-width: 100%;
  }
  .view {
    & > section {
      flex-direction: column-reverse;
    }
  }
  main section {
    padding: 10% 0;
    margin: 0 3rem;
  }
}
