header {
  border-bottom: 0.0625rem solid var(--text-highlight-tint);
  .navbar-collapse {
    padding: 0;
  }
}

.header-list > .nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &.active {
    background-color: var(--text-highlight-tint);
    border: 0.0625rem dashed var(--text-highlight-tint);
    font-weight: bold;
  }
}

@media ((max-width: 768px)) {
  header {
    .navbar-collapse {
      padding-bottom: 1rem;
    }
  }

  .header-list > .nav-item {
    &.active {
      background-color: transparent;
      border: none;
      border-right: 0.25rem solid var(--text-highlight);
      font-weight: bold;
      border-radius: 0.0625rem;
      padding-right: 0.5rem;
    }
  }
}
