@import url("https://fonts.googleapis.com/css2?family=Seymour+One&family=Special+Elite&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("./bootstrap.css");
@import url("./animations.css");

:root {
  --bg-primary: #0a192f;
  --bg-primary-light: #112240;
  --bg-primary-lightest: #233554;

  --text-tertiary: #ffffff;
  --text-primary: #a8b2d1;
  --text-secondary: #495670;
  --text-muted: #ccd6dd;

  --text-highlight: #64ffda;
  --text-highlight-tint: rgba(100, 255, 218, 0.1);

  --font-family-spl-elite: "Special Elite", cursive;
  --font-family-ubuntu: "Ubuntu", sans-serif;
  --font-family-seymour-one: "Seymour One", sans-serif;

  --app-background: linear-gradient(
    to right,
    var(--bg-primary),
    var(--bg-primary-light)
  );
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: var(--bs-border-radius);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-family-ubuntu);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--app-background);
  color: var(--text-primary);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

view section {
  flex-direction: row;
}

main {
  overflow: auto;
}

main section {
  min-height: 100%;
  padding: 3rem 8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  border-bottom: 0.0625rem solid var(--text-highlight-tint);
}

/* h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  font-weight: 500;
}
h2 {
  font-size: clamp(2.25rem, 3.5vw, 4rem);
  font-weight: 500;
}
h3 {
  font-size: clamp(1.75rem, 2vw, 2rem);
  font-weight: 400;
}
h4 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-weight: 400;
}
h5 {
  font-size: clamp(1.25rem, 1vw, 1.75rem);
  font-weight: 400;
}
h6 {
  font-size: clamp(1rem, 0.5vw, 1.5rem);
  font-weight: 400;
} */
h1,
h2,
h3,
h4,
h6 {
  color: var(--text-tertiary);
}
h1,
h2,
h3 {
  font-family: var(--font-family-seymour-one);
}
h4,
h6 {
  font-family: var(--font-family-spl-elite);
}

.fc-green {
  color: var(--text-highlight);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#about_me,
#education,
#contact {
  max-width: 80%;
}

#home {
  padding: 10%;
}

.app-body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader {
  background-color: var(--bg-primary);
}

.loader img {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.socials-nav {
  flex-direction: column;
  justify-content: flex-end;
  &::after {
    content: "";
    display: block;
    width: 0.0625rem;
    height: 8rem;
    margin: 0 auto;
    background-color: var(--text-primary);
  }
}

.numbered-list {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}
.numbered-list::before {
  color: var(--text-highlight);
  font-family: var(--font-family-spl-elite);
  font-size: 1.25rem;
  margin-right: 0.75rem;
}
.numbered-list::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 0.0625rem;
  margin: auto 0;
  margin-left: 1.25rem;
  background-color: var(--bg-primary-lightest);
}

#about .numbered-list::before {
  content: "01.";
}
#experience .numbered-list::before {
  content: "02.";
}
#education .numbered-list::before {
  content: "03.";
}
#skills .numbered-list::before {
  content: "04.";
}
#contact .numbered-list::before {
  content: "05.";
}

.image-wrapper {
  position: relative;
}
.image-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.0625rem solid var(--text-highlight);
  top: 1rem;
  left: 1rem;
  z-index: -1;
  border-radius: var(--bs-border-radius);
}

.timeline {
  position: relative;
  --tab-height: 2.5rem;
  --tab-width: 8rem;
  flex-direction: column;
  width: 25%;
  overflow: auto;
}
.timeline-content {
  width: 75%;
}
.timeline > .nav-item {
  border-left: 0.0625rem solid var(--bg-primary-lightest);
  font-weight: 300;
  height: var(--tab-height);
  width: 100%;
}
.timeline > * > a {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timeline .active {
  color: var(--text-highlight);
  background-color: var(--text-highlight-tint);
}
.timeline-indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 0.125rem;
  height: var(--tab-height);
  border-radius: var(--bs-border-radius);
  background: var(--text-highlight);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.arrow-list {
  padding: 0;
  margin: 0;
}
.arrow-list > li {
  list-style: none;
}
.arrow-list > li {
  list-style: none;
}
.arrow-list > li:not(:last-child) {
  padding-bottom: 0.75rem;
}
.arrow-list > li::before {
  content: "\00BB";
  color: var(--text-highlight);
  padding-right: 1rem;
}

.education-card {
  background-color: var(--app-background);
  border-color: var(--text-highlight-tint);
}
.education-card:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header-list > .nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &.active {
    background-color: var(--text-highlight-tint);
    border: 0.0625rem dashed var(--text-highlight-tint);
    font-weight: bold;
  }
}

.nav-btn {
  --bs-btn-color: var(--text-highlight);
  --bs-btn-border-color: transparent;
  --bs-btn-bg: transparent;
  /* --bs-btn-focus-shadow-rgb: 49, 132, 253; */
  --bs-btn-active-color: var(--text-highlight-tint);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: var(--text-highlight-tint);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-hover-color: var(--text-highlight-tint);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
}

@media ((max-width: 768px)) {
  #home {
    padding: 10% 0;
  }
  #home,
  #about_me,
  #experience,
  #skills,
  #education,
  #contact {
    max-width: 100%;
  }
  view > section {
    flex-direction: column-reverse;
  }
  main section {
    padding: 10% 0;
    margin: 0 3rem;
  }
  .socials-nav {
    flex-direction: row;
    &::after {
      width: unset;
      height: 0.0625rem;
      flex: 1;
      margin: auto 0;
    }
    &::before {
      content: "";
      display: block;
      width: unset;
      height: 0.0625rem;
      margin: auto 0;
      flex: 1;
      background-color: var(--text-primary);
    }
  }
  .image-wrapper {
    width: 50%;
    margin: 2rem auto;
  }
  .timeline {
    flex-direction: row;
    width: 100%;
    border-bottom: 0.0625rem solid var(--bg-primary-lightest);
    margin-bottom: 1rem;
    flex-wrap: nowrap;
    --tab-width: 9rem;
  }
  .timeline-indicator {
    height: 0.125rem;
    width: 100%;
    max-width: var(--tab-width);
    bottom: 0;
    top: auto;
  }
  .timeline > .nav-item {
    border-left: none;
    height: fit-content;
    width: fit-content;
  }
  .timeline > * > a {
    width: var(--tab-width);
    text-align: center;
  }
  .timeline-content {
    width: 100%;
  }
  .timeline-container {
    flex-direction: column;
  }
}

@media ((max-width: 576px)) {
  .timeline {
    --tab-width: 6rem;
  }
}
