.socials-nav {
  flex-direction: column;
  justify-content: flex-end;
  &::after {
    content: "";
    display: block;
    width: 0.0625rem;
    height: 8rem;
    margin: 0 auto;
    background-color: var(--text-primary);
  }
}

@media ((max-width: 768px)) {
  .socials-nav {
    flex-direction: row;
    &::after {
      width: unset;
      height: 0.0625rem;
      flex: 1;
      margin: auto 0;
    }
    &::before {
      content: "";
      display: block;
      width: unset;
      height: 0.0625rem;
      margin: auto 0;
      flex: 1;
      background-color: var(--text-primary);
    }
  }
}
